.mainContainer {
    min-height: calc(100vh - 147px);
    position: relative;
    
}

.walk {
    position: absolute;
    background-color: green;
    margin: 0px;
    color: white;
    height: 90%;
    width: 100%;
    left: 0;
    top: 6%;
    z-index: 1100;
}

.wait{
    position: absolute;
    background-color: #AA0114;
    margin: 0px;
    color: white;
    height: 90%;
    width: 100%;
    left: 0;
    top: 6%;
    z-index: 1100;
}

.cab {
    position: absolute;
    background-color: #ffea00;
    margin: 0px;
    color: #212121;
    height: 90%;
    width: 100%;
    left: 0;
    top: 0%;
    z-index: 1100;
}

